<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626193205504-luu9l2bl03ta6s54sjdk0dlh5qr9gbpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626193205504-luu9l2bl03ta6s54sjdk0dlh5qr9gbpp</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ6gp-FTGDxPPTiCNJTsxwxLR45z4Efao</string>
	<key>GCM_SENDER_ID</key>
	<string>626193205504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullahkaragoz.FotografPaylasmaUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasmauygulama-622cd</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasmauygulama-622cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626193205504:ios:782a252027267e4c254be5</string>
</dict>
</plist>